# Node
node_modules/

# Next.js
.next/
out/
.next-static/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env*
!.env.example

# OS
.DS_Store

# Editor
.idea/
.vscode/

# Misc
coverage/

